router-outlet
a#backtop(href='#top')
	svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 16 23' width='16' height='23')
		circle(cx='7.95' cy='2.32' r='1.59' fill='inherit')
		circle(cx='7.95' cy='5.5' r='1.59' fill='inherit')
		circle(cx='7.95' cy='8.68' r='1.59' fill='inherit')
		circle(cx='7.95' cy='11.86' r='1.59' fill='inherit')
		circle(cx='7.95' cy='15.05' r='1.59' fill='inherit')
		circle(cx='7.95' cy='18.23' r='1.59' fill='inherit')
		circle(cx='7.95' cy='21.41' r='1.59' fill='inherit')
		circle(cx='4.77' cy='5.5' r='1.59' fill='inherit')
		circle(cx='1.59' cy='8.68' r='1.59' fill='inherit')
		circle(cx='14.32' cy='8.68' r='1.59' fill='inherit')
		circle(cx='11.14' cy='5.5' r='1.59' fill='inherit')
