h1.lab-row
	a(href='index.htm') DANG CONG MINH
	span FRONTEND DEVELOPER - SOFTWARE ENGINEER
h2.lab-row
	span HO CHI MINH, VN
	a(href=`mailto:minhdc481&#64;gmail.com`)
		| minhdc481&#64;gmail.com
.lab-intro
	.lab-text
		p Form follows feeling, just as form follows function.
		p
			strong Simplicity
			|  is paramount. It involves crafting intuitive and balanced experiences by removing unnecessary complexity. Consistency and intentional use of white space ensure clarity and ease of use.
		p
			strong Utility
			|  emphasises functionality over flair, focusing on user needs through research and iteration. It aims for accessible, robust, and performance-optimised designs that guide users seamlessly.
		p
			strong Minimalism
			|  emerges naturally from simplicity. Stripping back design elements to their essence creates honest, clear, and engaging experiences. It&rsquo;s about balance, understated elegance, and geometry.
		p
			strong Experimental
			|  design adds a spark of wonder, blending form and feeling. It pushes boundaries and fosters creativity through interdisciplinary collaboration, leading to innovative solutions.
main.lab-projects
	.lab-project
		.lab-project-info
			h2.lab-project-title 099 Supply
			h3.lab-project-role Creative Direction + UI/UX Design
			.lab-project-text
				p
					| 099 Supply is a studio with a strong Swiss design influence that builds digital tools for creators. We began with a catalogue of photorealistic product mockups made for Photoshop. We&apos;re now building a new product range in parallel; modular web components for no-code website building platform, Framer.
				ul
					li creative direction
					li web design
					li UX design
					li copywriting
					li research and development
					li product development
					li socials management
				p
					| Visit&nbsp;
					a(href='https://099.supply' rel='noreferrer' target='_blank') 099.supply
		.lab-project-gallery
			h3.lab-project-role Creative Direction + UI/UX Design
			figure.lab-project-image-container
				img.lab-project-image(src='/assets/images/099-supply/ae81179f40-1717425742/099-screen-2.png' alt='' lazyload='')
			figure.lab-project-image-container
				img.lab-project-image(src='/assets/images/099-supply/94362daf42-1717424855/099-screen-1.png' alt='' lazyload='')
			figure.lab-project-image-container
				img.lab-project-image(src='/assets/images/099-supply/05bf90e18e-1717857171/099-screen-8.svg' alt='' lazyload='')
			figure.lab-project-image-container
				img.lab-project-image(src='/assets/images/099-supply/fe0cb60da9-1717425742/099-screen-4.png' alt='' lazyload='')
			figure.lab-project-image-container
				img.lab-project-image(src='/assets/images/099-supply/3ae9854258-1717425077/099-screen-3.png' alt='' lazyload='')
			figure.lab-project-image-container
				img.lab-project-image(src='/assets/images/099-supply/3bf19db8fd-1717444656/099-screen-6.png' alt='' lazyload='')
			figure.lab-project-image-container
				img.lab-project-image(src='/assets/images/099-supply/c2f0788a1a-1717496933/099-screen-7.png' alt='' lazyload='')
	.lab-project
		.lab-project-info
			h2.lab-project-title Minimalism Life
			h3.lab-project-role Creative Direction + UI/UX Design
			.lab-project-text
				p
					| Minimalism Life&reg; is a community-driven resource hub focused on the nuances of minimalism. It spans art, design, and lifestyle, and encourages creative initiatives through collaborative working. We created an intentionally low-stimulating digital environment for people to discover various minimalism-inspired resources from tooling to reading materials.
				ul
					li creative direction
					li web design
					li UX design
					li lead curation
					li copywriting
				p
					| Visit&nbsp;
					a(href='https://minimalism.com' rel='noreferrer' target='_blank') minimalism.com
		.lab-project-gallery
			h3.lab-project-role Creative Direction + UI/UX Design
			figure.lab-project-image-container
				img.lab-project-image(src='/assets/images/minimalism-life/97a1c4138c-1724790794/ml-screen-7.svg' alt='' lazyload='')
			figure.lab-project-image-container
				img.lab-project-image(src='/assets/images/minimalism-life/565342a1f8-1720524223/ml-screen-2.svg' alt='' lazyload='')
			figure.lab-project-image-container
				img.lab-project-image(src='/assets/images/minimalism-life/381293c502-1717497119/ml-screen-1a.png' alt='' lazyload='')
			figure.lab-project-image-container
				img.lab-project-image(src='/assets/images/minimalism-life/6662bd12f2-1717447397/ml-screen-1b.png' alt='' lazyload='')
			figure.lab-project-image-container
				img.lab-project-image(src='/assets/images/minimalism-life/5f649743c2-1717857448/ml-screen-3.svg' alt='' lazyload='')
			figure.lab-project-image-container
				img.lab-project-image(src='/assets/images/minimalism-life/dca516ce17-1717771678/ml-screen-5.png' alt='' lazyload='')
			figure.lab-project-image-container
				img.lab-project-image(src='/assets/images/minimalism-life/cc5c1fcfb5-1717843890/ml-screen-6.png' alt='' lazyload='')
